.highlight-light-purple { color: #BF9ACA; font-weight: bold; }
.highlight-purple { color: #AB52FF; font-weight: bold; }
.highlight-yellow { color: #FEE440; font-weight: bold; }
.highlight-orange { color: #EE964B; font-weight: bold; }
.highlight-green { color: #09E85E; font-weight: bold; }
.highlight-skyblue { color: #72DDF7; font-weight: bold; }
.highlight-grey { color: #D3D3D3; font-weight: bold; }
.highlight-red { color: #ED254E; font-weight: bold; }
